@charset "utf-8";
/* CSS Document */
.div_page{
	margin:10px auto auto 100px;
	width:700px;
	height:25px;	
}

.pre_page{
	margin:0px auto auto 0px;
	float:left;
	background-image:url(../images/u132.png);
	background-repeat:no-repeat;
	width:60px;
	height:25px;
	text-align:center;
	
}
.other_page{
	margin:0px auto auto 20px;
	float:left;
	background-image:url(../images/u136.png);
	background-repeat:no-repeat;
	width:24px;
	height:25px;
	text-align:center;
}
.next_page{
	margin:0px auto auto 20px;
	float:left;
	background-image:url(../images/u132.png);
	background-repeat:no-repeat;
	width:60px;
	height:25px;
	text-align:center;
}
.page_text{
	font-family: 'Arial Normal', 'Arial';
    font-style: normal;
    font-size: 13px;
    color: #333333;
	width:60px;
    text-align: center;
    line-height: 25px;
}
